body {
    background-color: rgb(250, 250, 250);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a:link {
    font-size: 15px;
    text-decoration: none;

}

a:link:hover {
    text-decoration: underline;
}
#following {
    height: 34px;
}

#user-name {
    font-size: 40px;
    font-weight: lighter;
}

#check-mark {
    height: 25px
}

.ig-logo {
    list-style: none;
    margin-top: 40px;
    margin-left: 80px;
    display: flex;
}


.top-section-right {
    margin-top: 40px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: top;
}

.bottom-section-pics {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: bottom;
}

.bottom-section {
    padding: 50px;
}

.upper-section {
    display: flex;
    align-items: baseline;

}

.top-section {
    display: flex;
    justify-content: space-around;
}

.img-with-text {
    text-align: center;
}

.user-info {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#help-insta {
    font-weight: bolder;
    color: rgb(20,54, 107);
}

.bold-numbers {
    font-weight: bold;
}

.make-me-smaller {
    font-size: 12px;
}

.make-gray {
    color: gray;
}